node_modules/
*.zkey
*.ptau
.DS_Store
challenge_0003
challenge_phase2_0003
circuit.r1cs
circuit.r1cs.json
circuit.wasm
proof.json
public.json
response_0003
response_phase2_0003
verification_key.json
witness.wtns
